<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="shortcut icon" href="<?php echo base_url('resources/admin/images/favicon.png');?>" type="image/png">
    <title>ZJGSU在线视频网站</title>
    <link href="<?php echo base_url('resources/index/css/bootstrap.min.css');?>" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="<?php echo base_url('resources/index/js/html5shiv/3.7.2/html5shiv.min.js');?>"></script>
      <script src="<?php echo base_url('resources/index/js/respond.js/1.4.2/respond.min.js');?>"></script>
    <![endif]-->
    <style>
      body{
        padding-top: 50px;
        background-color: rgba(157, 157, 157, 0.42);
      }
      .carousel{
          
      }
      .carousel .item{
         background-color: #000;
      }
      .carousel .item img {
            width: 100%;
            height: 300px;
      }
      .imgline{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        text-align:center;
      }
      
      .imgline img{
        width: 200px;
        height: 256px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .cartguide ul{
        background-color: #99CC99;
        padding-left: 50px;
      }
    </style>
</head>
<body>
<!--顶部导航条-->
<div class="navbar  navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"><!--小化时菜单-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<?php echo site_url('Show/index');?>">ZJGSU在线视频首页</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 导航 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<?php echo site_url('Show/more/variety');?>">综艺</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<?php echo site_url('Show/more/tv');?>">电视剧</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<?php echo site_url('Show/more/movie');?>">电影</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<?php echo site_url('Show/more/cartoon');?>">动漫</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<?php echo site_url('Show/more/sport');?>">体育</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<?php echo site_url('Show/more/other');?>">其他</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <?php if(isset($_SESSION['login_user_id'])): ?>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<?php echo site_url('admin/User/logout');?>">退出</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><?php echo $_SESSION['login_user_nickname'];?></a></li>
      </ul>
      <?php else: ?>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal-login">登录</button></li>  
      </ul>
      <?php endif;?>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div><!--导航条-->
  <!--轮播广告-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="<?php echo base_url('resources/index/images/runningman.jpg');?>" alt="Running Man">
      <div class="carousel-caption">
        <p>跑男RunningMan正在热播</p>
        <p>东方卫视-王者归来</p>
      </div>
    </div>
    <div class="item">
      <img src="<?php echo base_url('resources/index/images/starwars.jpg');?>" alt="Star Wars">
      <div class="carousel-caption">
        星球大战火爆上映
      </div>
    </div>
    <div class="item">
      <img src="<?php echo base_url('resources/index/images/miyue.jpg');?>" alt="芈月传">
      <div class="carousel-caption">
        芈月传催泪大结局
      </div>
    </div>
    <div class="item">
      <img src="<?php echo base_url('resources/index/images/qsmy.jpg');?>" alt="秦时明月">
      <div class="carousel-caption">
        秦时明月同名动漫
      </div>
    </div>
    <div class="item">
      <img src="<?php echo base_url('resources/index/images/football.jpg');?>" alt="足球">
      <div class="carousel-caption">
        梅西独揽3分，精彩进攻为您呈现
      </div>
    </div> 
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
<!--轮播广告结束-->
<!--图片行-->
<div class="cartguide">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">综艺</a></li>
  <li role="presentation"><a href="<?php echo site_url('Show/more/variety');?>">更多精彩综艺>></a></li>
</ul>
<div class="imgline">
    <?php foreach($varietys as $variety) :?>
    <a href="<?php echo site_url('Show/play').'/'.$variety['video_id'];?>"><img src="<?php echo base_url('upload/images').'/'.$variety['video_img_name'];?>" class="img-thumbnail"></a>
    <?php endforeach;?>
</div>
</div>
<!--图片行结束-->
<!--图片行-->
<div class="cartguide">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">电视剧</a></li>
  <li role="presentation"><a href="<?php echo site_url('Show/more/tv');?>">更多精彩电视剧>></a></li>
</ul>
<div class="imgline">
    <?php foreach($tvs as $tv) :?>
    <a href="<?php echo site_url('Show/play').'/'.$tv['video_id'];?>"><img src="<?php echo base_url('upload/images').'/'.$tv['video_img_name'];?>" class="img-thumbnail"></a>
    <?php endforeach;?>
</div>
</div>
<!--图片行结束-->
<!--图片行-->
<div class="cartguide">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">电影</a></li>
  <li role="presentation"><a href="<?php echo site_url('Show/more/movie');?>">更多精彩电影>></a></li>
</ul>
<div class="imgline">
    <?php foreach($movies as $movie) :?>
    <a href="<?php echo site_url('Show/play').'/'.$movie['video_id'];?>"><img src="<?php echo base_url('upload/images').'/'.$movie['video_img_name'];?>" class="img-thumbnail"></a>
    <?php endforeach;?>
</div>
</div>
<!--图片行结束-->
<!--图片行-->
<div class="cartguide">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">动漫</a></li>
  <li role="presentation"><a href="<?php echo site_url('Show/more/cartoon');?>">更多精彩动漫>></a></li>
</ul>
<div class="imgline">
    <?php foreach($cartoons as $cartoon) :?>
    <a href="<?php echo site_url('Show/play').'/'.$cartoon['video_id'];?>"><img src="<?php echo base_url('upload/images').'/'.$cartoon['video_img_name'];?>" class="img-thumbnail"></a>
    <?php endforeach;?>
</div>
</div>
<!--图片行结束-->
<!--图片行-->
<div class="cartguide">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">体育</a></li>
  <li role="presentation"><a href="<?php echo site_url('Show/more/sport');?>">更多体育节目>></a></li>
</ul>
<div class="imgline">
    <?php foreach($sports as $sport) :?>
    <a href="<?php echo site_url('Show/play').'/'.$sport['video_id'];?>"><img src="<?php echo base_url('upload/images').'/'.$sport['video_img_name'];?>" class="img-thumbnail"></a>
    <?php endforeach;?>
</div>
</div>
<!--图片行结束-->
<!--图片行-->
<div class="cartguide">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">其他</a></li>
  <li role="presentation"><a href="<?php echo site_url('Show/more/other');?>">更多精彩节目>></a></li>
</ul>
<div class="imgline">
    <?php foreach($others as $other) :?>
    <a href="<?php echo site_url('Show/play').'/'.$other['video_id'];?>"><img src="<?php echo base_url('upload/images').'/'.$other['video_img_name'];?>" class="img-thumbnail"></a>
    <?php endforeach;?>
</div>
</div>
<!--图片行结束-->
<!-- 登录 -->
<div class="modal fade" id="myModal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="">用户登录</h4>
      </div>
      <form class="form-horizontal" action="<?php echo site_url('admin/User/dologin');?>" method="post">
      <div class="modal-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox">记住密码</label>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">&nbsp;&nbsp;确&nbsp;定&nbsp;登&nbsp;录&nbsp;&nbsp;</button>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo site_url('admin/User/register');?>">立即注册</a>
      </div>
       </form>
    </div>
  </div>
</div>
<!--登录-->
<footer>
  <div style="text-align:center;background-color:#646464;font-color: #FFFFFF;">
    <hr >
    浙江工商大学－毕业设计－在线视频用户行为跟踪与分析&copy;金灿
    <a href="#top" class="navbar-link">回到顶部</a>
    <hr>
    </div>
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="<?php echo base_url('resources/index/js/jquery-1.11.1.min.js');?>"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="<?php echo base_url('resources/index/js/bootstrap.min.js');?>"></script>
  </body>
</html>